[importlinter]
root_package = src

[importlinter:contract:1]
name = Enforce Domain Isolation
type = independence
modules =
    src.domains.core
    src.domains.identity
    src.domains.vision

[importlinter:contract:2]
name = BFF Above Domains
type = layers
layers =
    src.bff
    src.domains.core
    src.domains.identity
    src.domains.vision
